mixin fieldTests
  +fieldset({
    name:'basic fieldset',
    trigger:{triggeredFuncs:'funcOnRemove'}
  })
    block
  +fieldset({
    name:'class fieldset',
    addClass:'add-a-class'
  })
    block
  .repeating-container
    +customControlFieldset({
      name:'custom fieldset',
      trigger:{addFuncs:['funcOnAdd']}
    })
      block
  .repeating-container
    +inlineFieldset({
      name:'inline fieldset',
      trigger:{},
      addClass:''
    })
      block