include k-scaffold
+googleFont('Anton')

span some content
+googleFont('Sigmar+One')
+rolltemplate('test')
  span.material-symbol thumb_up
  |{{myfield}}
+scss.
  span{
    font-family: 'Sigmar One', monospace;
  }
+kscript