include k-scaffold
+text({name:'input with CAPS',trigger:{
  triggeredFuncs:['capReact']
}})
+action({
  name:'action with CAPS',
  trigger:{triggeredFuncs:['capReact']}
})
+tabs({name:'CAP TABS',defaultActiveTab:'CAP 1'})
  +tab({name:'CAP 1'})
    span First tab with capitals
  +tab({name:'CAP 2'})
    span Second tab with capitals
  +tab({name:'uncapped tab'})
    span Tab without capitals
+module.
  /**
   * reacts to entities that had caps in names to see if they actually trigger
   * @param {object} trigger - The trigger that caused the function to be called
   * @param {object} attributes - The attribute values of the character
   * @param {object[]} sections - All the repeating section IDs
   * @param {object} casc - Expanded cascade object
   */
  const capReact = function({trigger,attributes,sections,casc}){
    k.log(`${trigger.name} detected`);
  };
  k.registerFuncs({capReact});
+kscript