include ./../../lib/_k.pug
.flex-box
  +number({name:'base num'}).underlined
  +input-label({
    inputObj:{name:'base total',type:'number',trigger:{formula:'10 + floor(@{base_num}/2) + @{base_mod}'},class:'underlined'},
    spanObj:{'data-i18n':'total'},
    divObj:{class:'stacked'}
  })
  +number({name:'base mod'}).underlined
.flex-box
+input-label({
  inputObj:{name:'repeat total',type:'number',class:'underlined',trigger:{formula:'(@{repeating_equipment_$X_weight}*@{repeating_equipment_$X_quantity}) + @{backpack}'}},
  spanObj:{'data-i18n':'repeat total'}
})
label
  span backpack
  +number({name:'backpack'}).underlined
+fieldset({
  name:'equipment'
})
  +text({name:'name',value:''}).underlined
  +number({name:'weight'}).underlined
  +number({name:'quantity'}).underlined
+kscript('formula-test')