include k-scaffold

+tabs({name:'main-tabs',defaultActiveTab:'tab1'})#main
  +tab({name:'basic attributes'})
    // basic attributes
  +tab({name:'empty tab'})
    // empty tab
  +tab({name:'repeating attributes'})
    // repeating attributes