mixin creator
  +select({name:'select',trigger:{affects:['dummy attribute']}})
    +option({value:'option 1','data-i18n':'option 1',selected:''})
    +option({value:'option 2','data-i18n':'option 2'})
  +select-label({
    inputObj:{name:'labelled select',trigger:{affects:['dummy attribute']}},
    spanObj:{'data-i18n':'select label'}
  })
    +option({value:'option 1','data-i18n':'option 1',selected:''})
    +option({value:'option 2','data-i18n':'option 2'})
+creator
+fieldTests
  +creator