:root{
  --vp-c-indigo-1:#3e6667;
  --vp-c-indigo-2:#aecdce;
  --vp-c-indigo-3:#3e6667;
  --vp-c-indigo-soft:#d4dfdf;
  --r20-link-color:#e10085;
  --r20-icon:url('/roll20_logo.png');
}

a[href*="roll20.net"]{
  color:var(--r20-link-color);
}
:is(#roll20-link,.roll20-link,a[href*="roll20.net"]):not(.no-icon)::after{
  content:'';
  background: none;
  -webkit-mask-image: none;
  mask-image: none;
  background-image: var(--r20-icon);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
a[href*="roll20.net"]:is(:hover,:visited){
  color: color-mix(in lch,var(--r20-link-color) 80%,var(--vp-c-bg));
}